pydantic
pydantic-settings

langsmith
langchain
langchain-community
langgraph


# LlamaIndex
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
qdrant-client

# LLM & Embeddings
llama-cpp-python
sentence-transformers

fastapi
uvicorn
